# dependencies
node_modules/
.next/
out/
build/
dist/
venv/
.venv/
__pycache__/
*.pyc

# environment files (NEVER COMMIT REAL KEYS)
.env
.env*.local
.env.production
.env.development
!.env.example

# debug & misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
next-env.d.ts
null
